.vscode/sftp.json

# Sensitive information
.env

# Environment-specific files
config.json
firebase-debug.log

# Dependency directories
lib/node_modules/
lib/bower_components/

# Build artifacts
dist/
build/
*.log
*.cache

# Operating system and editor-specific files
.DS_Store
.vscode/
*.swp
*.swo
*.bak
